/* Основные стили для приложения */
body {
  background-color: #1e1ea3; /* Синий фон */
  /*color: white;*/
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Стили для ввода */
input[type="text"], input[type="password"] {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

/* Стили кнопок */
button {
  background-color: #4444ff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #3333dd;
}

/* Карточки паролей */
.card {
  background-color: #2929b0;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card strong {
  color: white;
}
