/* Общий стиль для контейнера */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Занимаем всю высоту экрана */
  background-color: #1e1ea3; /* Синий фон */
  margin: 0;
}

/* Стиль окна авторизации */
.login-box {
  background-color: #2929b0;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px; /* Фиксированная ширина */
}

/* Заголовок */
.login-box h2 {
  color: white;
  margin-bottom: 20px;
}

/* Поля ввода */
.login-box input[type="text"],
.login-box input[type="password"] {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

/* Кнопка входа */
.login-box button {
  background-color: #4444ff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 100%; /* Кнопка занимает всю ширину */
}

.login-box button:hover {
  background-color: #3333dd;
}

/* Кнопка регистрации */
.register-button {
  background: none;
  border: none;
  color: #ffdd44;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.register-button:hover {
  color: #ffc107;
}
